.row
  .col-sm-6
    %h3 Django Tutorial
    %p
      A personal goal of mine is to be a 'language agnostic' programmer. I believe that learning multiple languages is necessary to level up as a developer. To work towards that goal I decided to follow the Django docs tutorial to create a simple app.
    %p The admin features that come out of the box are really amazing. Any small start up could save a lot of time using Django.
    =link_to "See Code", 'https://github.com/gdomingu/django_intro_app', class:'btn btn-info', target: "_blank", role: 'button'
  .col-sm-6
    =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/django_tut.png', class: 'img-fluid')