.row
  .col-sm-6
    %h3 SF Day Labor Program
    %p
      This is a rails app I created by request of the SF Day Labor Program and Women's Collective. It was my first time working for a client.
    %p I was pleased to discover that building something that was going to be used by real people while working with someone who had zero technical experience was very rewarding. The client told me about the problems within the organization, and I built something to solve those problems.
  .col-sm-6
    %h4 Main Goals:
    %ul
      %li Set up a relational database to help organize all the information about the members of the program.
      %li Build an admin interface tailored to the employees of the organization thereby improving efficiency so they can spend less time with busy work.
      %li Create new functionality to improve user experience for potential employers who come to the website.
    