.row
  .col-sm-6
    %h3 Towers of Hanoi
    %p
      Towers of Hanoi
      is a JavaScript game where the goal is to get all the donuts stacked up in the right order on the rightmost peg. I decided to utilize jQuery UI to add a little to the user experience by asking them to drag the "donuts" over rather than just clicking.
    %p Please enjoy!
  .col-sm-6
    #hanoi-container
      .card
        .card-block
          %p.card-text Stack all the pegs up in the right order on the 3rd peg to win the game.
          %button#playbutton.btn.btn-primary Play
          %span#movescounter
            %P Number of moves:
      .row.game-wrapper
        .col-sm-12#pegcontainer
          .peg-outer
            #peg1.peg
          .peg-outer
            #peg2.peg
          .peg-outer
            #peg3.peg