.row
  .col-sm-6
    %h3 Towers of Hanoi
    %p
      %a{:href => "towersofhanoi"}Towers of Hanoi
      is a JavaScript game where the goal is to get all the donuts stacked up in the right order on the rightmost peg. I decided to utilize jQuery UI to add a little to the user experience by asking them to drag the "donuts" over rather than just clicking.
    %p While this was originally built in a rails environment, because it is 100% a "front-end" app, I simply moved it over to a static page on this pofolio. It uses no ruby, only HAML, JavaScript, and CSS.
    %p Please enjoy!
    %a{:href => "towersofhanoi", :class => "tosite"}
      %i{:class => "icon-rocket"}
      To Site