.row
  .col-sm-6
    %h3 Move Loot
    %p
      As the first non-founder employee to be hired at Move Loot, an online furniture consignment marketplace. I built the tech that allowed the growth from a 5-person company to a national company with operations in 5 states. I was the lead developer on multiple projects including:
    %ul
      %li Developed the truck route scheduling system used for deploying trucks for all inbound and outbound items.
      %li Redesigned the customer self-cash-out system, using APIs from Braintree and Lob.
      %li Architected the Bulk Submission flow in AngularJS.
      %li Helped scale the company by automating such tasks as marking down prices, following up with customers at the end of consignment period, and tracking locations of delivery trucks.
      %li Wrote and maintained a comprehensive test suite using Rspec, Capybara, and Selenium Webdriver.
  .col-sm-6
    =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/ml_payout_prompt.png', class: 'img-fluid')
    
    