.row
  .col-sm-6
    %h3 Smitten
    %p
      %a{:href => "http://www.smitten.us"}Smitten
      was my final project built in the last week of General Assembly's
      %a{:href => "https://generalassemb.ly/education/web-development-immersive"}Web Development Immersive.
    %p
      The team consisted of 3 of my amazing classmates:
      %a{:href => "http://bayleefeore.com"}Baylee,
      %a{:href => "http://ykitten.github.io"}Ykat,
      and
      %a{:href => ""}Eric,
      all who like myself had no previous knowledge of programming before this class.
    %p Smitten is an app created to help facilitate love at first sight. Being young and romantically optimistic, our team decided to make an app that will help you connect with the boy or girl you fall in love with while in line at the grocery store or at the laundromat.
  .col-sm-6
    .row
      .col-sm-6
        %h4 Highlights:
        %ul
          %li One page mobile web app using Ajax
          %li Swipe to navigate functionality
          %li Social login with Facebook
          %li User messaging
      .col-sm-6
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          .carousel-inner{:role => "listbox"}
            .carousel-item.active
              =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/landing.jpg', class: 'screenshot')
            .carousel-item
              =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/dashboard.jpg', class: 'screenshot')
            .carousel-item
              =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/newspark.jpg', class: 'screenshot')
            .carousel-item
              =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/feed.jpg')
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.icon-prev{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span.icon-next{"aria-hidden" => "true"}
            %span.sr-only Next