.row
  .col-sm-6
    %h3 IOS Tip Calculator
    %p This was my first attempt at programming in Swift 2.0. I followed a tutorial created by CodePath.
    %p As a Rubyist, Swift 2 was much easier for me to read than Objective C. However there were some things that are trivial in Ruby that are much more difficult than in Ruby. But over all this project was really fun and I hope to do more Swift development in the future.
  .col-sm-6
    .row
      .col-sm-6
        %h4 Highlights:
        %ul
          %li 3 easily selectable tip %
          %li Selectable default tip %
          %li 3 selectable color themes
          %li Changes currency based on system region
      .col-sm-5.col-sm-offset-1
        =image_tag('https://s3-us-west-2.amazonaws.com/gabe-random/tip-calc-demo.gif', class: 'img-fluid')
